<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<a href="/members/join">회원가입</a><br/>
<a href="/members/login">로그인</a>
</body>
</html>
